<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Template</title>
</head>
<body>
    {{if .Name}}
        <p>Condition is true!</p>
    {{else}}
        <p>Condition is false!</p>
    {{end}}
</body>
</html>