<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    <h1>List of Items</h1>
    <ul>
        {{range $index, $item := .Items}}
            <li>{{$item}}</li>
        {{else}}
            <li>No items to display</li>
        {{end}}
    </ul>
</body>
</html>